web: gunicorn store.wsgi
web: gunicorn cart.wsgi
web: gunicorn payment.wsgi
web: python manage.py migrate && gunicorn store.wsg
web: python manage.py migrate && gunicorn cart.wsg
web: python manage.py migrate && gunicorn payment.wsg